# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Settings for all files
# All files must use LF line endings
[*]
end_of_line = lf
insert_final_newline = true
